@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}


@layer base {
  h1 {
    @apply font-bold text-3xl;
  }

  a {
    @apply font-bold;
  }
}
body {
  margin: 0;
  padding: 0;
}

.rotate-hover {
  transition: transform 0.5s ease-in-out;
}

.rotate-hover:hover {
  color:white;
  transform: rotate(180deg);
}
